<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.xunyun.infanteduplatform.persistent.BureauMapper">
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
    <resultMap type="com.xunyun.infanteduplatform.domain.BureauInfo" id="BureauInfoResultMap">
        <result column="organizationId" property="organizationId" jdbcType="NUMERIC"/>
        <result column="bureauName" property="bureauName" jdbcType="VARCHAR"/>
        <result column="parentBureauId" property="parentBureauId" jdbcType="NUMERIC"/>
        <result column="isChild" property="isChild" jdbcType="INTEGER"/>
        <result column="parentBureauName" property="parentBureauName" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询单位列表 -->
    <select id="queryBureauList" resultMap="BureauInfoResultMap" parameterType="Integer">
        select b.organizationId,b.bureauName,br.parentBureauId,br.isChild from bureauInfo b
        inner join bureauRelation br
        on br.bureauId = b.organizationId
        where br.parentBureauId = #{id}
    </select>

    <select id="queryBureauInfo" resultMap="BureauInfoResultMap" parameterType="Integer">
        select s.*,bl.bureauName as parentBureauName from bureauInfo bl
        inner join (
        select b.organizationId,
        b.organizationCode,
        b.orgType,
        b.bureauName,
        b.dutyPerson,
        b.locationCode,
        b.bureauAddress,
        b.homepageUrl,
        b.telephone,
        b.postalCode,
        br.parentBureauId
        from bureauInfo b
        inner join bureauRelation br
        on br.bureauId = b.organizationId
        where b.organizationId = #{bureauId}) s
        on s.parentBureauId = bl.organizationId
    </select>

    <insert id="saveBureauInfo" parameterType="com.xunyun.infanteduplatform.domain.BureauInfo"
            useGeneratedKeys="true">
        <selectKey resultType="Long" order="BEFORE" keyProperty="organizationId">
            select SEQ_BUREAUINFO.nextval from dual
        </selectKey>
        insert into bureauInfo(organizationId,organizationCode,bureauName,bureauAddress,
        homepageUrl,telephone,dutyPerson,postalCode,orgType,locationCode,deleteFlg,
        createdBy,creationTime,lastUpdateTime,lastUpdatedBy)
        values
        (#{organizationId},#{organizationId},#{bureauName},#{bureauAddress},
        #{homepageUrl},#{telephone},#{dutyPerson},#{postalCode},#{orgType},#{locationCode},
        #{deleteFlg},#{createdBy},#{creationTime},#{lastUpdateTime},#{lastUpdatedBy})
    </insert>


    <update id="updateBureauInfo" parameterType="com.xunyun.infanteduplatform.domain.BureauInfo">
        update bureauInfo
        <trim prefix="SET" suffixOverrides=",">

            <if test="organizationCode != null ">
                organizationCode=#{organizationCode},
            </if>
            <if test="bureauName != null ">
                bureauName=#{bureauName},
            </if>
            <if test="bureauAddress != null ">
                bureauAddress = #{bureauAddress},
            </if>
            <if test="homepageUrl != null ">
                homepageUrl = #{homepageUrl},
            </if>
            <if test="telephone != null ">
                telephone = #{telephone},
            </if>
            <if test="dutyPerson != null ">
                dutyPerson = #{dutyPerson},
            </if>
            <if test="postalCode != null ">
                postalCode = #{postalCode},
            </if>
            <if test="orgType != null ">
                orgType=#{orgType},
            </if>
        </trim>
        where organizationId = #{organizationId}
    </update>

    <!--单位逻辑删除-->
    <update id="deleteBureau" parameterType="Integer">
        update bureauInfo set deleteFlg = 1 where organizationId = #{organizationId}
    </update>

</mapper>
